In [ ]:
import sklearn
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score
import numpy as np

In [ ]:
data=pd.read_csv('Final_train.csv')

In [ ]:
data.head()

   MSZoning  LotShape  BldgType  ...  GarageCars  PavedDrive  SalePrice
0       0.5  0.666667       0.0  ...        0.50         1.0  12.247694
1       0.5  0.666667       0.0  ...        0.50         1.0  12.109011
2       0.5  0.000000       0.0  ...        0.50         1.0  12.317167
3       0.5  0.000000       0.0  ...        0.75         1.0  11.849398
4       0.5  0.000000       0.0  ...        0.75         1.0  12.429216

[5 rows x 24 columns]

In [ ]:
X=data.drop(['SalePrice'],axis=1)

In [ ]:
y=data[['SalePrice']]

In [ ]:
from sklearn.model_selection import KFold,cross_val_score
from sklearn.metrics import make_scorer,r2_score
def test_model(model,X,y):
  cv=KFold(n_splits=3,shuffle=True,random_state=45)
  r2=make_scorer(r2_score)
  r2_val_score=cross_val_score(model,X,y,cv=cv,scoring=r2)
  score=[r2_val_score.mean()]
  return score

In [ ]:
Regressor=LinearRegression()
test_model(Regressor,X,y)

[0.8693199844666631]

In [ ]:
from sklearn.svm import SVR
clf=SVR(kernel='rbf')
test_model(clf,X,y)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[0.8644828215898649]

In [ ]:
from sklearn.ensemble import RandomForestRegressor
rf_reg=RandomForestRegressor(random_state=30)
test_model(rf_reg,X,y)

/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:515: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:515: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:515: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)

[0.8597824301168387]

In [ ]:
import xgboost
xgb_reg=xgboost.XGBRegressor(bbooster='gbTree',random_state=51)
test_model(xgb_reg,X,y)

[23:10:45] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[23:10:45] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[23:10:45] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

[0.8705688175746388]

In [ ]:
#HYPERPARAMTER TUNING

svr_reg=SVR(kernel='rbf')
test_model(svr_reg,X,y)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[0.8644828215898649]

In [ ]:
X_test['GarageCars'].fillna(X_test['GarageCars'].median(),inplace=True)

In [ ]:
Regressor.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
predict=Regressor.predict(X_test)

In [ ]:
predict=np.exp(predict)

In [ ]:
xgb_reg.fit(X,y)

[23:54:01] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, bbooster='gbTree', booster='gbtree',
             colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
             gamma=0, importance_type='gain', learning_rate=0.1,
             max_delta_step=0, max_depth=3, min_child_weight=1, missing=None,
             n_estimators=100, n_jobs=1, nthread=None, objective='reg:linear',
             random_state=51, reg_alpha=0, reg_lambda=1, scale_pos_weight=1,
             seed=None, silent=None, subsample=1, verbosity=1)

In [ ]:
predict1=xgb_reg.predict(X_test)

In [ ]:
predict1=np.exp(predict1)

In [ ]:
x_train=pd.read_csv('test.csv')

In [ ]:
x_train.head()

     Id  MSSubClass MSZoning  ...  YrSold  SaleType SaleCondition
0  1461          20       RH  ...    2010        WD        Normal
1  1462          20       RL  ...    2010        WD        Normal
2  1463          60       RL  ...    2010        WD        Normal
3  1464          60       RL  ...    2010        WD        Normal
4  1465         120       RL  ...    2010        WD        Normal

[5 rows x 80 columns]

In [ ]:
submit_test2=pd.concat([x_train['Id'],pd.DataFrame(predict1)],axis=1)

In [ ]:
submit_test2.columns=['Id','SalePrice']

In [ ]:
submit_test2

        Id      SalePrice
0     1461   83465.179688
1     1462  140721.765625
2     1463  172777.531250
3     1464  178693.906250
4     1465  186645.734375
...    ...            ...
1454  2915   79161.656250
1455  2916   84303.070312
1456  2917  145771.171875
1457  2918  113872.609375
1458  2919  218590.468750

[1459 rows x 2 columns]

In [ ]:
submit_test2.to_csv('Sample_submission2.csv',index=False)